h1
{
	color: white;
}
div
{
	/* border: 3px solid red; */
	padding: 13px auto;

}
button:hover
{
	cursor: pointer;
}
/* a:hover
{
	background-color:black;
	color: blue;
} */

img{
	
	width: 600px;
	height: 350px;
	position: relative;

}
	
.link{
	text-decoration: solid;
	background-color: white;
	color: black;
	font-size: 20px;
	width:220px;
	height: 40px;
	padding: 5px;
	display: flex;
	align-items: center;
	text-decoration: none;
}

h2{
	color: orange;
}
form{
	color: orange;
}
p{
	color: orange;
}
/* #horzNav:hover
{
	display: inline block;
	background-color: black;
	color:  blue; */
/* } */

.op{
	display: flex;
	justify-content: center;
	align-items: center;
}

.op-desc{
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
}
.op-desc > p{
	font-size: 25px;
	color: 	white;
}
body
{
	background-color: black;
	/* background-image: url(https://2.bp.blogspot.com/-VqhSAIzVi1o/W8TZXaDtoQI/AAAAAAAAEf0/YNp9hkm9WDwCpBVETyWFUpYYVIiitREbgCLcBGAs/s1600/1535348797088.jpg); */
	background-position: fixed;
	background-size: cover; 
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:black;
}
li
{
	float: left;
}
li a, .dropbutton{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
text-decoration: none;
}
li a:hover, .dropdown:hover .dropbutton {
	background-color: red;
}
li.dropdown{
	display: inline-block;
}
li.contacts{
	display: inline-block;
}
.dropdown-content{
	display: none;
	position: absolute;
	background-color:black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px  rgba(0,0,0,0.2);
	z-index: 1;
	overflow: scroll;
	height: 500px;
}
.dropdown-content a{
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
/* .dropdown-content a:hover{
	background-color: red;
	color: blue;
} */
.dropdown:hover .dropdown-content  {
	display: block;
}
.contacts:hover
{
	background-color: red;
	display: block;
}

.query{
	/* border: 1px solid white; */
	margin:50px ;
	/* display: flex; */
}